*{
    margin: unset;
    padding: unset;
}

body {
    background: #f2f2f2;
}

nav {
    background: #00805a;
    height: 3rem;
    line-height: 3rem;
    color: white;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
    user-select: none;
}

.text-input{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background-color: #277530;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.label::before{
    content: '';
    height: 5px;
    background: #277530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus{
    border: 2px solid #38f2ff;
    font-size: 18px;
    text-shadow: 1.5px 1px 2px rgba(8, 8, 8, 0.493);
}

.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder{
    opacity: 1;
}

.text-input:not(::placeholder-shown) + .label{
    top: 10px;
    color: #38f2ff;
    font-size: 18;
}

.container{
    padding: 1rem;
}

#itemForm label {
    display: block;
    margin-bottom: 1rem;
}

#itemForm input {
    height: 2rem;
    text-align: center;
    border: 1px solid #bfbfbf;
}

#quantityInput, #priceInput{
    width: 3rem;
}

#addItemButton {
    border: unset;
    background: #00805a;
    color: #fff;
    padding: 0.5rem;
}

#itemsDiv {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #eaeaea;
    margin-bottom: 0.5rem;
}

.checkbox {
    height: 100%;
    width: 2.5rem;
}

.itemInfo {
    text-align: center;
}

.deleteButton {
    margin: 0 0 0 auto;
    border: unset;
    background: #b10000;
    color: #fff;
    font-size: 0.8rem;
    width: 2.5rem;
    height: 100%;
}

.deleteButton:active {
    margin-top: 3px;
}

.purchased{
    background: #00805a;
    color: #fff;
}

.purchased p {
    text-decoration: line-through;
}

